.cards {
  display: flex;
  flex-direction: column;
  padding: 80px 104px;
}

.cards__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 0 0 64px;
}

.cards__show-more-btn {
  width: 288px;
  border-radius: 80px;
  background-color: #fff;
  height: 64px;
  border: none;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Medium", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.cards__show-more-btn:hover {
  background: rgba(232, 232, 232, 0.9);
}
